# Ignore the .env file
.env

# Ignore the Firebase credentials file
sentiment-dashboard-a3e15-firebase-adminsdk-fbsvc-3b6fa0d617.json

# Other files and directories to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/